.image1{
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 118px;
    height: 138px;
    margin: 10px;
}
